<!-- _includes/footer.html -->
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <!-- Section Links -->
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#about">About</a></li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#experience">Experience</a></li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#pricing">Pricing</a></li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#resources">Resources</a></li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#testimonials">Testimonials</a>
      </li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#safeguarding">Safeguarding</a>
      </li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}#contact">Contact</a></li>
      <li class="list-inline-item"><a class="text-white" href="{{ '/' | relative_url }}blog">Blog</a></li>
    </ul>

    <!-- Back to Top Link -->
    <a href="#" class="text-white d-block mb-3">Back to top</a>

    <!-- Copyright -->
    <p>&copy; 2023 Fiona Hennessy Tutoring. All rights reserved.</p>
  </div>
</footer>